{% extends 'base.html.twig' %}

{% block title %} Book - {% endblock %}

{% block body %}
    <h3>{{ book.title }}</h3>
    <div>{{ book.author }}</div>
    <div style="color: gray"></div>
{%  endblock %}